@import "../common/base";

.na-main {
  height: 100%;
}

.na-inlay {
  margin: 0 auto;

  @include na-desktop {
    width: 1200px;
  }

  @include na-tablet {
    padding: 0 20px;
  }

  @include na-phone {
    padding: 0 20px;
  }
}

.na-section {
  padding: 3rem 0;
}

.na-even {
  color: $color-black;
  background-color: $color-white;
}

.na-odd {
  h2, h3, h4, h5 {
    color: $color-white;
  }

  color: $color-white;
  background-color: $color-black;
}
