@import "../common/base";

$page-margin: 35px;

.na-main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-black, 0.5);
  z-index: 999;
  padding: 15px 30px;

  @include na-phone {
    padding: 5px 10px;
  }
}

.na-main-header-logo {
  float: left;
  height: 70px;
}

.na-page-header {
  background-color: $color-blue-grey;
  border-bottom: 1rem solid;
  height: 60%;

  .na-page-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}
