/************************************************************/
/* RESPONSIVE */
/************************************************************/

/************************************************************/
/* COLORS */
/************************************************************/

$color-white: #FFF;
$color-black: #333;
$color-grey: #79797D;
$color-blue: #2180ff;
$color-blue-grey: #567;

/************************************************************/
/* LINE HEIGHTS */
/************************************************************/
$line-height-headings: 1.3em;
$line-height-body: 1.6em;
